.component4Wrap {
  height: auto;
  background-color: white;
  border: 5px solid blue;
}

.comp4pin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid forestgreen;
  width: 100%;
}

.comp4Anim {
  width: 100px;
  height: 100px;
  opacity: 1;
  background-color: red;
}
