.component4Wrap {
  height: 500px;
  background-color: white;
  border: 5px solid blue;
}

.component4Wrap > .comp4pin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid forestgreen;
  width: 100%;
  height: 50%;
}

.component4Wrap > .comp4pin > .comp4Anim {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
