.component2Wrap {
  height: 500px;
  background-color: white;
  border: 5px solid red;
}

.comp2pin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid orange;
  width: 100%;
  height: 50%;
}

.comp2Anim {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
